.result-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    font-size: xx-large;
}

.playagain-btn{
    font-size: 1.5vw;
    padding: 0.5% 1%;
    transform: skew(-15deg);
    transition: all 0.2s ease-in-out;
    background-color: #5e0000;
    color: #eae7e7;
    border: none;
  }
  
  .playagain-btn:hover{
    transform: scale(1.1) skew(-15deg);
    cursor: pointer;
  }

  @media only screen and (max-width: 1000px) {

    .playagain-btn{
        font-size: 6vw;
    }

    .result-screen{
      text-align: center;
    }

}