.start-screen{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
}

.cover-image{
    height: 100vh;    
}

.menu{   
    width: 50%;
    font-size: xx-large;
}
.diff-buttons{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
}

.diff-buttons > button{
    font-size: 1.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    text-align: left;
    transform: skew(-15deg);
    transition: all 0.2s ease-in-out;
    background-color: #5e0000;
    color: #eae7e7;
    border: none;
}

.diff-buttons > button:hover{
    transform: scale(1.2) skew(-15deg);
}

