body{
    background-color: red;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
}
#root{
    width: 80%;    
    overflow: hidden;
}
.cards-container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap:2rem;
    flex-wrap: wrap;
}


.legend-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: black; */
}



.card-image{
    height: 15rem;
    width: auto;
}

.legend-title{
    text-transform: uppercase;
    text-align: center;
}

#root > h1{
    color: white;
}






/* For flip effect */
.legend-card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s;
  }
  
  .front {
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    background-color: white;
    outline: solid black;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .legend-title {
    text-align: center;
    margin-top: 10px;
  }
  
  .legend-card.flipped .front {
    transform: rotateY(-180deg);

  }
  
  .legend-card.flipped .back {
    transform: rotateY(0deg);
  }